.about-header {
    background-color: #81aafd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 20vh;
}

.about-main {
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 100%;
}

.about-main section {
    padding: 10px;
}

.about-footer {
    background-color: #81aafd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.about-footer a {
    color: white;
    text-decoration: none;
}