.about-header {
    background-color: #81aafd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.about-main {
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.about-main section {
    padding: 10px;
}
