.header {
  font-size: calc(10px + 2vmin);
  height: 5vh;
}

.leaflet-container {
  width: 90%;
  height: 75vh;
  margin: 0 auto;
}

main {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
