.header {
  background-color: #81aafd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 5vh;
}

.leaflet-container {
  width: 98%;
  height: 85vh;
  margin: 0 auto;
}
