.home-header {
    height: 40vh;
}

.home-header .imagelogo {
    height: 30%;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-main .infomessage {
    color: #3c7dff;
    text-decoration: none;
}

.home-main .actionButton {
    background-color: #81aafd;
    color: antiquewhite;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    padding: 15px;
    line-height: 2;
    cursor: grab;
}
