.home-header {
    background-color: #81aafd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40vh;
}

.home-main {
    height: 45vh;
    background-color:honeydew;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        color: #000000;
    }
}

.home-footer {
    background-color: #81aafd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 15vh;
}